<a href="https://colab.research.google.com/github/FDMasangkay/CPE-031-VDA-CPE-21S4/blob/main/Exercise2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Example 1

In [ ]:
import pandas

mydataset = {
'animals': ["Cat", "Dog", "Rabbit"],
'height': [13, 17, 8]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

### Example 2

In [6]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

### Example 3

In [9]:
import pandas as pd

data = {
    "age": [42, 38, 39],
    "weight": [50, 40, 45]}

myvar = pd.DataFrame(data)

print(myvar)

   age  weight
0   42      50
1   38      40
2   39      45

### Example 4

In [14]:
import pandas as pd

data = {
"age": [42, 38, 39],
"weight":[50,40,45]
}

myvar=pd.DataFrame(data)

print(myvar.loc[[0,1,2]])

   age  weight
0   42      50
1   38      40
2   39      45